<%- include("partials/header") -%>

<section id="interests-content">
  <div class="container">
    <div class="accordion" id="accordionExample">

      <div class="card">
        <div class="card-header" id="headingFive">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
              ORGANOWE REKORDY I CIEKAWOSTKI
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div id="organ-records" class="card-body">

            <h2 class="title-organ-records">Witajcie!</br>Czytajcie, bawcie się dobrze – a przy tym uczcie się!!!</h2>
            <h3>Czy wiecie, gdzie znajdują się największe organy na świecie?</h3>
            <p>Convention Hall Atlantic City NJ, posiadają siedem manuałów (klawiatur ręcznych), 852 głosy, 33 112 piszczałek i zostały wybudowane w 1930 roku przez firmę Midmer-Losh. Za kryterium przyjęto jeden całościowy instrument – nie zaś
              kilka przestrzennie rozmieszczonych, a podłączonych pod jeden kontuar (stół gry).</p>
            <h3>Czy wiecie, gdzie się znajdują największe organy w Europie?</h3>
            <p>Katedra w Pasawie (niem.: Passau), posiadają pięć manuałów (klawiatur ręcznych), 227 głosów, 17 388 piszczałek i w ostatecznej formie zostały ukształtowane przez niemiecką firmę Eisenbarth w 1985 roku.</p>
            <h3>Czy wiecie, gdzie znajdują się największe organy w Polsce?</h3>
            <p>Katedra we Wrocławiu, posiadają pięć manuałów (klawiatur ręcznych), 142 głosy. Jest to część 222 głosowych organów (posiadały łącznie 16 706 piszczałek)
              wybudowanych przez firmę Sauer dla wrocławskiej Hali Stulecia (w 1917 roku był to 200 głosowy instrument – największy na świecie w tym czasie), które po rozbudowie ostatecznie zostały ukończone w 1937 roku. Po działaniach wojennych
              firma Biernackiego przeniosła część tego instrumentu do wrocławskiej katedry.</p>
            <h3>A może teraz trochę historii? Słyszeliście, gdzie znajdują się najstarsze organy na świecie?</h3>
            <p>Najstarsze organy znajdują się w Basilique de Valère w szwajcarskiej miejscowości Sion i pochodzą z roku 1435. Zaraz po nich plasują się organy w niemieckiej miejscowości Rysum wybudowane około 1440 albo 1457 roku.</p>
            <h3>Pewnie teraz rodzi się w Waszej głowie pytanie, gdzie są najstarsze niemal w całości zachowane w oryginalnym stanie organy w Polsce?
              Już odpowiadam:</h3>
            <p>
              <li>Olkusz, Bazylika św. Andrzeja, 1611-1631 rok (są to jedne z najstarszych w Europie organów zachowane w stopniu bliskim oryginalnemu)</li>
              <li>Kazimierz Dolny, Fara, data budowy nie jest znana, a przyjmuje się ją jako rok 1620 (niestety wielokrotnie przebudowywany w późniejszych wiekach)</li>
              <li>Wąchock, kościół św. Floriana, około 1650 rok.</li>
            </p>

            <h3>A może jeszcze coś z ciekawostek… Tu może Was zadziwię. Wiecie, że organy nie tylko znajdują się w kościołach, salach koncertowych, ale też… na wolnym powietrzu? Oczywiście pod zadaszeniem, aby nie padał na nie deszcz, ale jednak na
              wolnym powietrzu.
            </h3>
            <p>Przykład takiego instrumentu znajdziemy chociażby w Spreckels Pavilion, Balboa Park, San Diego (USA) zostały zbudowane w 1915 r. Przez firmę Austin (USA, Hartford) i zostały kilkakrotnie rozbudowane (ostatnio w 2003 r.) Obecnie
              posiadają 57 głosów rozmieszczonych na 4 manuałach.
              Kilka lat później firma Walcker zbudowała podobne organy w austriackiej miejscowości Kufstein w 1931 roku. Dźwięk tego instrumentu słychać w promieniu 13 kilometrów!!!
            </p>
            <p>Ale to nie koniec organów na wolnym powietrzu. Jeśli Mahomet nie chce przyjść do góry itd… to tak samo organy potrafią przyjechać do człowieka. Takie największe organy umieszczone na „przyczepie” samochodowej wybudowała niemiecka
              firma Hoffmann z Ostheim w Rhön w 1998 roku. Zbudowali organy ruchome o znacznych rozmiarach 29 głosów zainstalowanych… w ciężarówce.
            </p>

            <h3>A to może jeszcze ciekawsze?</h3>
            <p>Instrument barokowy i romantyczny jednocześnie, ale osobno? Zobacz ten filmik:</p>
            <div class="row justify-content-center yt-video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/x1GGuLaUlDw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p>Organy obracają się!!!! Z jednej strony organy barokowe, z drugiej romantyczne. Dokonała tego francuska firma Marc Garnier w 1987 roku, a organy znajdują się w Metropolitan Art Space Concert Hall w Tokyo.
              Niesamowite, co?
            </p>
            <h3> Czekajcie, czekajcie... to jeszcze nie koniec, a może wielkie organy, które można ustawiać w różnych częściach pomieszczenia, w którym się znajdują? Pewnie!!! I takie „cuda” istnieją!!!
            </h3>
            <p>Zasadniczo całość działa jak poduszkowiec: pod organami gumowe pojemniki są pompowane za pomocą sprężarek, dzięki czemu podnoszą instrument ważący kilka ton równomiernie i cicho, aż unosi się ułamek milimetra nad ziemią, zanim
              zostanie przemieszczony. Następnie specjalistyczne ciągniki umieszczają taki instrument w dowolnym miejscu.
            </p>
            <p> Na całym świecie istnieją cztery takie „pływające” instrumenty:
              <li>Australia, Adelaide, Festival Center – 50 głosów, 3 manuały, waga: 11 ton</li>
              <li>Szwajcaria, Neuchâtel Kolegiata – 38 głosów, 4 manuały, waga: 14 ton</li>
              <li>Syria, Damaszek, Teatr narodowy – 40 głosów, 4 manuały, waga: 18 ton</li>
              <li>Niemcy, Alpirsbach, kościół klasztorny – 34 głosy, 3 manuały, waga: 16,5 tony</li>
            </p>
            <h3>Oooo… znalazłem jeszcze jedną ciekawostkę. Pewnie interesują Was też wymiary piszczałek? Te najmniejsze, nie licząc stopy, która wdmuchuje do nich powietrze, mają kilka milimetrów, a te największe:
            </h3>
            <p>Często zdarza się, dla zaoszczędzenia materiału, z których są zbudowane i miejsca, że robi się je akustycznie tzn.: dla piszczałki np. 64’ buduje się piszczałkę 32' i dodaje do niej kwintę 21 1/3 '. Obie piszczałki grając razem
              sprawiają akustyczne wrażenie, że gra piszczałka 64’. Jednak istnieją pełnowymiarowe piszczałki 64’:

              <li>Australia, Sydney, Ratusz: Contra-Trombone 64' (pełna długość!) – waga nieznana</li>
              <li>USA, Atlantic City, sala kongresowa: Diaphone-Dulzian 64’ – waga 1675 kg, czyli najcięższa na świecie</li>
            </p>
            <p>Rekord do najcięższej i najstarszej piszczałki należy do C-Subkontra w otwartym pryncypale 32’ w organach Hofkirche w szwajcarskiej Lucernie. Piszczałka ta, jak i inne prospektowe została zbudowana w 1650 roku przez Johanna
              Geisslera. Co ciekawsze, że to monstrum (ponad 10 metrów długości, 57 cm średnicy i 383 kg wagi) stoi w prospekcie i do tego centralnie nad głową grającego organisty. Jak to niektórzy mówią: strach się bać!!!
            </p>


            <h3>Najgłośniejsze głosy organowe:</h3>
            <p>Według Księgi Rekordów Guinnessa organy w Convention Hall w Atlantic City (USA) mają najgłośniejszy rejestr organowy na świecie. Zwycięzcą okazał się pedałowy głos Grand Ophicleide 16', który ma ciśnienie powietrza 100"(ok. 2500 mm)
              - to znaczy około 30 razy więcej niż w przypadku zwykłych rejestrów (nawet „rejestry wysokiego ciśnienia” są „tylko” ustawione na 10-12” czyli ciśnienie powietrza wynosi 250-300 mm)! Jest to najwyższe stosowane ciśnienie organów na
              świecie.
            </p>

            <p>Firma Hey z Ostheim / Rhön zaprojektowała specjalny organy zewnętrzne o nazwie Vox Maris na wystawę Expo 2012 w Korei, która bije wszystkie poprzednie rekordy głośności i ciśnienia powietrza: 138,4 dBa maksymalna głośność i ciśnienie
              wiatru do 100 000 mmWS.
              Organy posiadają 80 specjalnych piszczałek o wysokości do 10 metrów, które mogą generować częstotliwości od 28 do 2640 Hz.</p>



            <p>Więcej informacji na stronie <a href="https://www.hey-orgelbau.com/projects/new_organ/vox_maris.html" target="_blank">Vox maris.</a></p>


            <h3>A co z największą miksturą?</h3>

            <p>Ta najpopularniejsza 49-rzedowa o nazwie LA FORCE znajduje się w bazylice w niemieckim Weingarten. Niestety brzmi ona tylko na najniższym pedałowym tonie C – wiec nie można jej stricte uznać za głos organowy.
            </p>

            <h3>Gdzie pojechać, aby posłuchać największych mikstur? A choćby w te miejsca:</h3>
            <p>
              <li>Hiszpania, Santanyí na Majorce, kościół Św. Andrzeja: Plé 22-25 rzędów</li>
              <li>Niemcy, Amorbach, kościół klasztorny: Großmixtur 12-16 rzędów</li>
              <li>Francja, Bordeaux, kościół św. Krzyża: Grand Plein Jeu 13 rzędów</li>
            </p>

            <p>Jeśli ktoś potrafi teleportować się w czasie, to zapraszamy do szesnastowiecznego Gdańska, aby posłuchać 26-rzędowej mikstury w kościele mariackim.
            </p>

            <h3>Największe organy z w pełni mechaniczną trakturą gry:</h3>
            <p>
              <li>Australia, Sydney, Opera House, 130 głosów (200 rzędów piszczałek)</li>
              <li>Niemcy, Weingerten, Bazylika, 63 głosy (169 rzędów piszczałek)</li>
              <li>Niemcy, Lubeka, kościół Mariacki, 100 głosów (161 rzędów piszczałek)</li>
              <li>Litwa, Liepaja, katedra Trójcy Świętej, 131 głosów (152 rzędy piszczałek)</li>
              <li>Polska, Jastrzębia Góra, kościół jezuicki, 76 głosów
            </p>
            </li>

            <h3>Organy w domu? Czemu nie!!!</h3>

            <p>Największe organy domowe na świecie posiadają 161 głosów realnych i oczywiście… znajdują się w Ameryce, a dokładniej w Birmingham w Barry Norris Residence.
              11 200 piszczałek!!!</p>

            <p>Nawet jeśli rozmiar tego instrumentu domowego wydaje się nieco przesadzony: doświadczenie tutti jest z pewnością imponujące i jedno jest pewne: słabe serce i układ krążenia powinny trzymać się z dala od tego instrumentu!
            </p>

            <h3>A teraz może trochę więcej takiej poważniejszej historii. Tu dowiecie się, jak organy powstawały i ewoluowały na przestrzeni wieków. Zatem zaczynajmy. W kolejnym rozdziale część z mojej publikacji.
            </h3>


            <p>Więcej detali: <a href="https://www.die-orgelseite.de/kurioses.htm" target="_blank">https://www.die-orgelseite.de</a></p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              HISTORIA ORGANÓW W PELPLNIE na tle europejskiego budownictwa organowego.
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body container-fluid">
            <h5 class="title-audioplayer">W wyniku licznych prac organologicznych drukiem ukazała się publikacja na temat organów w Bazylice Katedralnej w Pelpinie.</h5>
            <embed src="http://www.szalajda-organy.pl/img/ciekawostki/pelplin/pelplin_organ.pdf" width="100%" height="600px">
          </div>
        </div>
      </div>
      <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  CYPRIAN JAGIEŁŁO – prezent z dedykacją
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <!-- <div class="row"> -->
                  <div class="krippen-jagiello">
                    <iframe width="715" height="415" src="https://www.youtube.com/embed/GosGYk7Yd9M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5 class="krippen-modal-img-haeder" >Cyprian Jagiełło - Improwizacja na temat "Ich steh an deiner Krippen hier"</h5>
                      <img id="krippen" src="http://www.szalajda-organy.pl/img/ciekawostki/jagiello/krippen.jpg" alt="Ich steh an deiner Krippen hier - Cyprian Jagiełło">
                    <!-- <img data-toggle="modal" data-target="#krippenModal" src="img/ciekawostki/jagiello/krippen.jpg" alt="Ich steh an deiner Krippen hier - Cyprian Jagiełło"> -->
                  </div>
                  <!-- <div class="krippen-jagiello"> -->
                    <!-- modal krippen -->
                    <!-- Modal -->
                    <div class="modal fade" id="krippenModal" tabindex="-1" role="dialog" aria-labelledby="krippenModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-body">

                            <img id="krippen" src="http://www.szalajda-organy.pl/img/ciekawostki/jagiello/krippen.jpg" alt="Ich steh an deiner Krippen hier - Cyprian Jagiełło">
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end modal krippen -->
                  <!-- </div> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              POZNAŃ
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <h5 class="title-audioplayer">Po remoncie i zmianie intonacji jednych z największych organów w Poznaniu (B. Cepka 1990 rok) w górczyńskim kościele rozpoczęła się seria nagrań i koncertów organowych.</h5>
            <div id="audioplayer" class="row">
              <div class="player col-lg-6 col-sm-12">
                <div class="cover"></div>
                <div class="top-player-controls">
                  <div class="tracker"></div>
                  <div class="controls row justify-content-center">
                    <div class="row col-lg-6 col-sm-6 col-6">
                      <div class="rew-button"><i class="icon-rewind"></i></div>
                      <div class="play-button"><i class="icon-play"></i></div>
                      <div class="pause-button hidden"><i class="icon-pause"></i></div>
                      <div class="fwd-button"><i class="icon-fast-fw"></i></div>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="volume-button col-lg-12"><i class="icon-volume-up"></i>
                      <input type='range' id='volume-bar' class="slider" title="volume" min='0' max='1' step='0.1' value='1'>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="duration">00:00</div>
                  </div>
                  <div class="row title-artist-div justify-content-center">
                    <div class="title col-lg-12"></div>
                    <div class="artist col-lg-12"></div>
                  </div>
                </div>
              </div>
              <ul class="playlist col-lg-6 col-sm-8 col-xs-10">
                <li audiourl="poznan-kwintal/rencontres.wav" cover="poznan-kwintal/kwintal.jpg" artist="J. Kwintal">Rencontres duos sacrés</li>
                <li audiourl="gorczyn/JarekCegielka_01.mp3" cover="gorczyn/gorczyncd.jpg" artist="A. Tarnawska">J. S. Bach - Toccata E-dur BWV 566</li>
                <li audiourl="gorczyn/JarekCegielka_02.mp3" cover="gorczyn/gorczyncd.jpg" artist="J. Tarnawski">J. Brahms - Herzlich tut mich verlangen op. 122 nr 9</li>
                <li audiourl="gorczyn/JarekCegielka_03.mp3" cover="gorczyn/gorczyncd.jpg" artist="J. Tarnawski">J. Brahms - Herzlich tut mich verlangen op. 122 nr 10</li>
                <li audiourl="gorczyn/JarekCegielka_04.mp3" cover="gorczyn/gorczyncd.jpg" artist="J. Tarnawski">F. Mendelssohn - Sonata f-mol op. 65 nr 1 Allegro moderato e serioso</li>
                <li audiourl="gorczyn/JarekCegielka_05.mp3" cover="gorczyn/gorczyncd.jpg" artist="J. Tarnawski">F. Mendelssohn - Sonata f-mol op. 65 nr 1 Adagio</li>
                <li audiourl="gorczyn/JarekCegielka_06.mp3" cover="gorczyn/gorczyncd.jpg" artist="J. Tarnawski">F. Mendelssohn - Sonata f-mol op. 65 nr 1 Andante Recitativo</li>
                <li audiourl="gorczyn/JarekCegielka_07.mp3" cover="gorczyn/gorczyncd.jpg" artist="J. Tarnawski">F. Mendelssohn - Sonata f-mol op. 65 nr 1 Allegro assai vivace</li>
                <li audiourl="gorczyn/JarekCegielka_08.mp3" cover="gorczyn/gorczyncd.jpg" artist="A. J. Tarnawscy">F. Schubert - Fuga e-moll op. posth. 152</li>
                <li audiourl="gorczyn/JarekCegielka_09.mp3" cover="gorczyn/gorczyncd.jpg" artist="A. Tarnawska">C. Frank - Prélude, Fugue et Variation </li>
                <li audiourl="gorczyn/JarekCegielka_10.mp3" cover="gorczyn/gorczyncd.jpg" artist="A. Tarnawska">M. Duruflé - Prélude et Fugue sur le nom d'Alain </li>
                <li audiourl="gorczyn/JarekCegielka_11.mp3" cover="gorczyn/gorczyncd.jpg" artist="A. Tarnawska">M. Duruflé - Prélude et Fugue sur le nom d'Alain </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              HISTORIA ORGNÓW BAZYLIKI MARIACKIEJ W GDAŃSKU
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <embed src="http://www.szalajda-organy.pl/img/ciekawostki/gdansk/organy_bazyliki_mariackiej_gd.pdf" width="100%" height="600px">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<%- include("referencje") -%>

<%- include("partials/footer") -%>
