<%- include("partials/header") -%>

<section id="home-content">

  <div class="welcome">
    <h2>Serdecznie witamy na naszej stronie</h2>
    <h4>Z długoletnim doświadczeniem na rynku w branży organomistrzowskiej. Wiedza i doświadczenie zdobywane w różnych ośrodkach w całej Europie.
      Realizacje w Polsce, Niemczech i Szwecji. Oferujemy pełną gamę usług w naszej branży.</h4>
    <h4>Zapraszamy i życzymy miłych wrażeń wraz z naszą stroną.</h4>
  </div>


    <div class="home-page-carousel">
      <div class="container">
        <div class="parallelogram animatedParent">
          <h5 class="animated pulse" >Najwyższa jakość materiałów</h5>
          <div class="line-between-text"></div>
          <h5 class="animated pulse">Przystępne ceny</h5>
          <div class="line-between-text"></div>
          <h5 class="animated pulse">Satysfakcja gwarantowana</h5>
        </div>
      </div>


          <div class="carousel">
            <div><img src="http://www.szalajda-organy.pl/img/info/1.jpg"></div>
            <div><img src="http://www.szalajda-organy.pl/img/info/2.jpg"></div>
            <div><img src="http://www.szalajda-organy.pl/img/info/3.jpg"></div>
            <div><img src="http://www.szalajda-organy.pl/img/info/4.jpg"></div>
          </div>
    </div>
</section

<%- include("referencje") -%>

<%- include("partials/footer") -%>
