<%- include("partials/header") -%>

<section id="content">
  <div class="container">
    <div class="card mb-3 card-space">
      <div class="row no-gutters animatedParent">
        <div class="col-md-4">
          <img src="http://www.szalajda-organy.pl/img/omnie1.jpg" class="card-img img-1 animated fadeInDownShort" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text animated fadeInUpShort">
              Podstawowym profilem mojej działalności jest renowacja i konserwacja wszelkich typów organów piszczałkowych. Powierzone mi instrumenty restauruję w sposób profesjonalny, odpowiedzialny, dokładny oraz zgodnie z
              wszelkimi normami obowiązującymi obecnie w dziedzinie ochrony zabytków. Szczególną uwagę przywiązuję do kwestii zastanej substancji zabytkowej, którą staram się zachowywać w możliwe największym stopniu, zaś w przypadku konieczności
              rekonstrukcji, wiernie odtwarzam stan pierwotny, kładąc szczególny nacisk na przywrócenie aparatowi dźwiękowemu instrumentów walorów brzmieniowych nadanych im przez pierwotnych budowniczych. Swe umiejętności nabywałem praktykując w
              polskich i niemieckich zakładach organmistrzowskich oraz podczas pracy zawodowej w Szwecji.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row no-gutters animatedParent">
        <div class="col-md-8 change-place1">
          <div class="card-body">
            <p class="card-text animated fadeInDownShort">
              Uzyskałem tytuł organmistrza dyplomowanego (Nr dypl. 43712 Maz. Izba Rz.) oraz posiadam niemiecki certyfikat Orgelbaupraktikumszertifikat. Po dzień dzisiejszy doskonalę swoje umiejętności wyjeżdżając ciągle do
              różnych zakładów organmistrzowskich w całej Europie. Działalność organmistrzowską prowadzę nieprzerwanie od 2004 roku. Posiadam zaplecze warsztatowe, współpracowników oraz własny transport dostawczy. Dysponuję własnym dźwigiem z
              wysięgnikiem do 9 metrów. Posiadając doświadczenie organisty koncertowego oraz zajmując się pracami teoretyczno-historycznymi z zakresu organologii, potrafię na podstawie posiadanych przez siebie wiadomości należycie ocenić właściwą
              specyfikę techniczno-brzmieniową powierzanych mi instrumentów, co zaś przekłada się już w czasie prac na przyjęcie stosownego ich kierunku.

            </p>
          </div>
        </div>
        <div class="col-md-4 change-place2">
          <img src="http://www.szalajda-organy.pl/img/omnie2.jpg" class="card-img img-2 animated fadeInUpShort" alt="...">
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row no-gutters animatedParent">
        <div class="col-md-4">
          <img src="http://www.szalajda-organy.pl/img/omnie3.jpg" class="card-img img-1 animated fadeInUpShort" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text animated fadeInDownShort">
              W celu jak najwierniejszego odtwarzania rekonstruowanych elementów instrumentów, podczas prac renowacyjnych instrumentów zabytkowych, stosuję dawne techniki organmistrzowskie oraz stosowne materiały, m. in.
              naturalnie garbowane skóry, kleje kostne, blachę młotkowaną, oraz naturalnie sezonowane drewno najlepszego gatunku, zapewniając jednocześnie przystępne ceny oraz gwarancję na wykonane prace. Oferuję także instalowanie używanych
              instrumentów sprowadzonych zza granicy. Instrumenty te są instalowane w nowej lokalizacji po dokonaniu kompleksowej, starannej renowacji, co gwarantuje ich wieloletnią i bezproblemową eksploatację.

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<%- include("referencje") -%>

<%- include("partials/footer") -%>
